/*satoshi*/
@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi.woff2") format("woff2"),
        url("../fonts/Satoshi.woff") format("woff"),
        url("../fonts/Satoshi.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

/*spacing reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*styles*/
body {
    background-color: rgb(15, 3, 41);
    font-family: "Satoshi";
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 1024px;
}

/*button*/
.button {
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    transition: 200ms;
}

.button svg {
    height: 22px;
}

.button p {
    font-size: 16px;
    font-weight: bold;
}

.button p span {
    opacity: 0.5;
    font-weight: normal;
}

.button:hover {
    color: rgba(15, 3, 41, 1);
    background-color: rgba(255, 255, 255, 0.8);
}

.blur {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

/*hero*/
#hero {
    position: relative;
    height: 80lvh;
    max-height: min-content;
    background-image: url("/img/purple.png");
    background-size: cover;
}

#hero .content-wrapper {
    position: relative;
    height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero .button {
    position: absolute;
    top: 30px;
    right: 30px;
}

#hero article {
    padding: 30px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 480px) {
    #hero {
        height: 100lvh;
    }

    #hero .content-wrapper {
        height: 100svh;
    }

    #hero article {
        text-align: center;
    }
}

#hero article img {
    height: 60px;
}

#hero article h2 {
    margin: 15px 0 0 0;
}

#hero article h2 span {
    opacity: 0.5;
}

#hero article p {
    margin: 15px 0 0 0;
}

#hero article p span,
#hero article p sup {
    opacity: 0.5;
}

/*work*/
#work {
    color: white;
}

#work .grid {
    margin: 15px 0 0 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    #work .grid {
        grid-template-columns: 1fr;
    }
}

#work article h3 {
    font-size: 20px;
    opacity: 0.8;
}

#work article h3 span {
    opacity: 0.5;
}

#work article .description {
    margin: 15px 0 0 0;
}

#work article .links {
    display: flex;
    gap: 10px;
    margin: 15px 0 0 0;
}

/*documents*/
#documents {
    color: white;
}

#documents .description {
    margin: 15px 0 0 0;
}

#documents .links {
    display: flex;
    gap: 10px;
    margin: 15px 0 0 0;
}

/*footer*/
footer {
    color: white;
    background-color: rgba(25, 13, 51, 1);
}

footer p {
    opacity: 0.5;
}

footer p span {
    font-weight: 600;
}
